div.worldmap {
  color: white;
  font-family: Segoe UI, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
}

div.selected-country {
  background-color: rgba(255, 255, 255, 0.4);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  width: 20%;
  height: 80%;
  position: absolute;
  top: 10%;
  left: -20%;
  transition: left .3s ease-out 0s;
}

div.sc-header {
  align-items: center;
  border-bottom: solid 1px white;
  display: flex;
  height: 10%;
}

div.sc-header img {
  height: calc(100% - 3rem);
  padding: 1rem;
}

div.sc-header h1 {
  margin: 0;
  padding-right: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.sc-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  height: 90%;
}

div.sc-content h2 {
  align-self: center;
  display: flex;
  justify-content: space-between;
  grid-column: 1 / span 3;
  margin: 0;
}

div.sc-content h2 span {
  align-self: center;
  float: right;
  font-size: .9rem;
}

div.sc-content h2 span a {
  color: white;
  font-style: italic;
}

div.sc-content img {
  cursor: pointer;
  max-height: 100px;
}

div.sc-content div.sc-artists,
div.sc-content div.sc-albums,
div.sc-content div.sc-labels,
div.sc-content div.sc-genres {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1.6rem 1fr;
  padding: 1rem;
}

div.sc-artist, div.sc-album, div.sc-label, div.sc-genre {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

button.toggle-light {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  padding: 0.5em 1em;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.camera-controls-container {
  bottom: 10px;
  right: 10px;
  height: 75px;
  position: absolute;
  width: 75px;
}

.camera-controls {
  height: 100%;
  position: relative;
}

.camera-controls img.camera-top {
  cursor: pointer;
  height: 25px;
  left: calc(50% - 12.5px);
  position: absolute;
  top: 0;
}

.camera-controls img.camera-left {
  cursor: pointer;
  height: 25px;
  left: 0;
  position: absolute;
  top: calc(50% - 12.5px);
}

.camera-controls img.camera-bottom {
  bottom: 0;
  cursor: pointer;
  height: 25px;
  left: calc(50% - 12.5px);
  position: absolute;
}

.camera-controls img.camera-right {
  cursor: pointer;
  height: 25px;
  right: 0;
  position: absolute;
  top: calc(50% - 12.5px);
}

.camera-controls img.camera-center {
  cursor: pointer;
  height: 25px;
  left: calc(50% - 12.5px);
  position: absolute;
  top: calc(50% - 12.5px);
}

img.toggle-light {
  cursor: pointer;
  height: 25px;
  right: 45px;
  position: absolute;
  top: 10px;
}

img.configuration {
  cursor: pointer;
  height: 25px;
  right: 10px;
  position: absolute;
  top: 10px;
}

.configuration-form {
  align-items: center;
  background: radial-gradient(#1D1E25, #0F1015);
  box-sizing: border-box;
  color: #E7E9E7;
  display: flex;
  flex-direction: column;
  font-size: .9rem;
  height: 100%;
  justify-content: center;
  opacity: 0;
  overflow-y: auto;
  padding: 0 20%;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 999;

  transition: opacity 2.5s;
}

.configuration-form h1,
.configuration-form h3,
.configuration-form p {
  margin: 10px 0;
}

.configuration-form p {
  color: #AAAABE;
}

.configuration-form p span {
  color: #FFAD67;
  font-style: italic;
}

.configuration-form button {
  /* https://github.com/ManaZeak/ManaZeak/blob/back/src/scss/utils/tools/_colors.scss */
  background-color: #56D45B;
  border: solid 1px #12B31D;
  border-radius: 5px;
  color: #1D1E25;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  margin: 40px 0 0 0;
  padding: 5px 0;
  width: 100px;
}

.configuration-form button:focus {
  background-color: #48ABAF;
  border: solid 1px #0F8489;
}

.loading-container {
  align-items: center;
  background: radial-gradient(#1D1E25, #0F1015);
  color: #E7E9E7;
  display: flex;
  flex-direction: column;
  font-size: .9rem;
  height: 100%;
  justify-content: center;
  opacity: 0;
  position: absolute;
  width: 100%;
  z-index: 999;

  transition: opacity .5s;
}

.loading-container .track {
  bottom: 0;
  height: 5px;
  position: absolute;
  width: 100%;
}

.loading-container .current {
  background-color: #56D45B;
  height: 100%;
  width: 0;

  /*transition: width .2s ease-out;*/
}
